# Анализ зарплат в России
В проекте использованы открытые данные из официальных источников:
[Сайт Росстата](https://rosstat.gov.ru/)  
[Таблицы уровня инфляции в России](https://уровень-инфляции.рф/).  
Для анализа выбраны виды экономичесой деятельности:
- сельское хозяйство, охота и лесное хозяйство, (
- 
Проанализирована динамика уровня среднегодовых зарплат в разрезе по видам экономической деятельности за последние 30 лет в России.  
Дополнительно учтена инфляция для подсчета реальной динамики зарплат и изучена корреляция с динамикой реальных зарплат (с учетом инфляции) некоторых макроэкономических показателей страны в разрезе по годам.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Загрузка данных

In [7]:
df = pd.read_csv('data/inflation_salaries_data.csv', sep=';')

In [8]:
df

    year inflation all_economic education production building        IT
0   1991     1,604          NaN       NaN        NaN      NaN       NaN
1   1992   25,0885          NaN       NaN        NaN      NaN       NaN
2   1993    8,3987          NaN       NaN        NaN      NaN       NaN
3   1994    2,1502          NaN       NaN        NaN      NaN       NaN
4   1995    1,3133          NaN       NaN        NaN      NaN       NaN
5   1996    0,2181          NaN       NaN        NaN      NaN       NaN
6   1997    0,1103          NaN       NaN        NaN      NaN       NaN
7   1998    0,8444          NaN       NaN        NaN      NaN       NaN
8   1999    0,3656          NaN       NaN        NaN      NaN       NaN
9   2000     0,202       2223,4    1240,2     2365,2   2639,8       NaN
10  2001    0,1858       3240,4      1833     3446,6   3859,3       NaN
11  2002    0,1506       4360,3    2927,3     4439,1   4806,9       NaN
12  2003    0,1199       5498,5    3386,6     5603,4   6176,7       NaN
13  2004    0,1174       6739,5    4203,4     6848,9   7304,7       NaN
14  2005    0,1091       8554,9    5429,7     8420,9   9042,8       NaN
15  2006      0,09      10633,9    6983,3    10198,5  10869,2       NaN
16  2007    0,1187      13593,4    8778,3    12878,7  14333,4       NaN
17  2008    0,1328      17290,1   11316,8    16049,9    18574       NaN
18  2009     0,088      18637,5   13293,6    16583,1  18122,2       NaN
19  2010    0,0878      20952,2   14075,2      19078  21171,7       NaN
20  2011     0,061      23369,2   15809,1    21780,8    23682       NaN
21  2012    0,0658      26628,9   18995,3    24511,7  25950,6       NaN
22  2013    0,0645        29792   23457,9    27044,5  27701,4       NaN
23  2014    0,1136        32495     25862      29511    29354       NaN
24  2015    0,1291        34030     26928      31910    29960       NaN
25  2016    0,0538        36709     28088      34592    32332       NaN
26  2017    0,0252        39167   30257,6    38501,5  33677,9   58811,2
27  2018    0,0427        43724     34361      40722    38518     66590
28  2019    0,0305      47866,8   37071,9      43855  42629,9   75898,2
29  2020    0,0491        51344     39563      46510    44738     85648
30  2021    0,0839      57243,7   43390,5    52409,6  51944,2   97434,4
31  2022    0,1192      65338,3   48400,2    60438,7  60849,5  121262,4
32  2023    0,0742      73709,3   54262,7    71273,3  68944,4  130326,4